body {

  background : pink;
  font-style: bold;
  }

  .first_para{
  color : blue;
  font-size: 50px;
  text-align : center;
}
  .secondpara {
    color : green;
    font-size : 50px
    text-align : center;
}

  .image {
  text-align : center;
  
  }
#important {
  font-size : 100px;}
